# RapidAPI SofaScore
NEXT_PUBLIC_RAPIDAPI_KEY=api-key-goes-here
NEXT_PUBLIC_RAPIDAPI_HOST=sofascore.p.rapidapi.com

# Database (PostgreSQL / Supabase)
DATABASE_URL=postgres://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres
# Or if using Supabase client
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
